.card
 img.card-img-top(src='https://th.bing.com/th?id=OIP.Jz9BMumN4Zz7my5MKQgIBgHaGt&w=262&h=238&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2', alt='product_image')
 .card-body
 .card(style='width: 18rem;')
   ul.list-group.list-group-flush
     li.list-group-item Name: #{item.user.name}
     li.list-group-item Email: #{item.user.email}
     li.list-group-item Phone: #{item.user.phone}
   h5.card-title #{item.product.name}
   h6.card-subtitle #{item.product.category}
   h6.card-subtitle.mb-2.text-body-secondary #{item.price}
   p.card-text| #{item.product.description}
   if item.readyToBurgain
    p.card-text| Ready to burgain
   p.card-text| Used since: #{item.product.timeUsed.toISOString().split('T')[0]}
   p.card-text| Prefered location: #{item.product.location}
   a.btn.btn-primary Add to cart
   .card-footer.text-body-secondary| Publicated: #{item.publicateDate.toISOString().split('T')[0]}

